@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  border: 1px solid #DDD;
  margin: 10px 0px;
  margin-right: 10px;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
}
button{
  margin-right: 10px;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
  background-color: blue;
  color: #FFF;
}